<div class="container">
  <div class="row">
    <form action="/answer" class="text-center">
    <div class="form-group">
      <label for="question">Speak to your coach</label>
    </div>
      <div class="form-group">
        <input type="text" id="question" name="query" placeholder="what time is it?" class="form-group">
      </div>
      <input type="submit" value="Go on!" class="btn btn-primary">
    </form>
  </div>
</div>

